.sidebarFooter {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: #1e1f22;
  width: 100%;
  margin-left: -10px;

  .sidebarAccount {
    display: flex;
    align-items: center;
    padding-left: 10px;

    img {
      width: 60px;
    }

    .accountName {
      margin-left: 5px;
    }

    h4 {
      color: #ffffff;
      font-weight: 500;
    }

    span {
      color: #686a6e;
    }
  }

  .sidebarFooterIconWrapper {
    display: flex;
    align-items: center;
    color: #686a6e;
    padding-right: 10px;
    gap: 12px;
  }

  .sidebarFooterIcon {
    cursor: pointer;
  }
}
