.chatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;

  .chatHeaderLeft {
    padding-left: 15px;

    .chatHeaderHash {
      color: #7b7c85;
      padding-right: 8px;
    }

    h3 {
      color: #ffffff;
    }
  }

  .chatHeaderRight {
    padding-right: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #7b7c85;

    .chatHeaderSearch {
      display: flex;
      align-items: center;
      background-color: #2b2d31;
      padding: 4px;
      border-radius: 3px;

      input {
        background-color: transparent;
        outline: none;
        color: #ffffff;
        border: none;
      }
    }

    .chatHeaderIcon {
      cursor: pointer;
    }
  }
}
