.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #313338;

  .chatInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #383A40;
    border-radius: 10px;
    color: #B5BAC1;
    margin: 20px;

    form {
      display: flex;
      flex-grow: 1;

      input {
        padding: 10px;
        background-color: transparent;
        border: none;
        outline: none;
        color: #ffffff;
        font-size: large;
        width: 100%;
      }

      .chatInputIcons {
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
      }

      .chatInputButton {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        outline: none;
        color: #B5BAC1;
        border-left: 1px solid #B5BAC1;
        padding-left: 12px;
        cursor: pointer;
      }
    }


  }
}